main{
    background-color: var(--background-main);
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column; 
    gap: 32px;
}

@media screen and (max-width: 768px) {

    main{ 
        gap: 16px;
    }



}